.divTituloContacto {
    p {
        margin-left: 5%;
    }
}

.contactoItem {
    background-color: black;
    color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    img {
        padding: 15px;
        width: 100%;
    }

    .descripcionContacto {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}