.selectColeccion {
    border: none;
    background-color: white;
    width: 80%;
}

.selectColeccion:disabled {
    color: grey;
    background-color: lightgrey;
}

.anadirAColeccion {
    display: flex;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid white;
    width: fit-content;
    text-align: center;
    border-top-left-radius: 0px;
}
.anadirAColeccion:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(84, 161, 250);
    border: 2px solid rgb(84, 161, 250);
    color: white;
}