.formPersonaje {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 50px 0px 50px;

    .imagenPersonajeLabel {
        position: relative;
        display: inline-block;
        width: 70%;
    }

    .imagenFormPersonaje {
        width: 100%;
    }

    .cuadroImagen {
        width: 100%;
        background-color: lightgrey;
        height: 301px;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            margin: 0px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;
    }

    .imagenPersonajeLabel:hover .overlay {
        opacity: 1;
    }

    .infoPrincipalFormPersonaje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    
        .nombreFormPersonaje {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .descripcionFormPersonaje {
            display: flex;
            flex-direction: column;
            gap: 5px;

            textarea {
                height: 200px;
            }
        }
    }

    .infoSecundariaFormPersonaje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .infoAdicionalFormPersonaje {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;

            .col-6 {
                display: flex;
                flex-direction: column;
                width: 30%;
            }
        }
    }

    .divBotonGuardarCambiosPersonaje {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .botonGuardarCambiosPersonaje {
            padding: 10px 15px;
            color: rgb(0, 0, 0);
            border-radius: 10px;
            text-decoration: none;
            border: 2px solid rgb(0, 0, 0);
            font-size: 1.2rem;
            width: fit-content;
            background-color: transparent;
        }

        .botonGuardarCambiosPersonaje:hover {
            background-color: rgb(45, 224, 45);
            color: white;
            border: 2px solid rgb(45, 224, 45);
        }
    }
}